.editor {

    &.readonly {
        opacity: 0.6;
    }

    a {
        all: unset;
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }

    margin-bottom: 1rem;
    box-shadow: 0 1rem 1rem -0.625rem rgba(34, 47, 62, 0.15),
    0 0 2.5rem 1px rgba(34, 47, 62, 0.15);
    background-color: white;
    color: black;
    border-radius: 2px;


    .toolbar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.25rem;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        margin: 0;
        font-family: "Inter", sans-serif;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 10px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
        background-color: white;
        padding: 0 11px 0 12px;

        .spacer {
            width: 1px;
            margin: 0.25rem 0.25rem;
            background-color: white;
        }
    }

    .wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;
        }

        &::-webkit-scrollbar-thumb {
            background: #b0b5ba;
            border-radius: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background: #efefef;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #a6ccf7;
        }

        .text-area {
            min-height: 25rem;
            max-height: 25rem;
            padding: 1rem 1.5rem 1.5rem 1.5rem;
            overflow: auto;
            outline: none;
            word-wrap: break-word;
            white-space: break-spaces;
            transition: opacity 0.15s;

            ol {
                padding: 0;
                margin-left: 1.5rem;
            }

            ul {
                margin-left: 1.5rem;

                li {
                    list-style: disc;
                }
            }

            table {
                table-layout: fixed;
                width: 100%;
                border: 6px double black;
                border-collapse: collapse;

                th,
                td {
                    box-sizing: border-box;
                    white-space: normal;
                    border: 6px solid black;
                    position: relative;
                    min-width: 2rem;
                    padding: 0.5rem;
                    text-align: left;
                }

                th {
                    background-color: rgba(61, 37, 20, 0.05);
                }

                .selectedCell:after {
                    background: rgba(61, 37, 20, 0.08);
                    content: "";
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    pointer-events: none;
                    position: absolute;
                    z-index: 2;
                }
            }
        }
    }
}
